
<div class="profile_background">
<div class="row">

  <div class="col-md-4">
  </div>

   <div class="col-md-4">

     <br>
     <br>
     <br>
     <br>
     <div class="center">
       <%= image_tag avatar_url(@user), class: "user-avatar-full" %>
     </div>

     <h2 class="profile_user_fullname"><%= @user.fullname %></h2>
     <p class="profile_user_description">Billionaire, playboy, genius, philantropist</p>
     <br>
     <p class="profile_user_code">123mdlf</p>
     <br>
     <p class="profile_icons_title"><strong>Trails:</strong></p>
     <div class="user_profile_icon">

       <i class="fa fa-facebook" aria-hidden="true"></i>
       <i class="fa fa-github" aria-hidden="true"></i>
       <i class="fa fa-google-plus" aria-hidden="true"></i>
       <i class="fa fa-twitter" aria-hidden="true"></i>
       <i class="fa fa-twitch" aria-hidden="true"></i>
       <i class="fa fa-rebel" aria-hidden="true"></i>
       <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
       <i class="fa fa-youtube" aria-hidden="true"></i>
       <i class="fa fa-tripadvisor" aria-hidden="true"></i>
       <i class="fa fa-linkedin" aria-hidden="true"></i>
       <i class="fa fa-instagram" aria-hidden="true"></i>
     </div>
     <!-- <div class="panel panel-default">
       <div class="panel-heading">Verification</div>
       <div class="panel-body">
         Email Address<br>
         Phone Number
       </div>
     </div>
   </div> -->

   <div class="col-md-4">
     <br>

     <div class="description row-space-3">
       <%= @user.description %>
     </div>

     <div class="interest row-space-3">
       <%= @user.interest %>
     </div>
   </div>
 </div>
 </div>
