<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h1 class="title">Trail</h1>
    <div class="ec animated fadeIn">
      <div class="ellipses-container">
        <div class="ellipses ellipses__outer--thin">
          <div class="ellipses ellipses__orbit">
          </div>
        </div>
        <div class="ellipses ellipses__outer--thick">
        </div>
      </div>
    </div>

    <a class="axbtn animated fadeIn" href="http://3oneseven.com/about/">Find out more</a>
