@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.min";
@import "home";
@import "toastr";

@import "toastr";

@import "font-awesome.min";
@import "home";
@import "toastr";

.avatar-small {
  width: 28px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%
}
