@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.min";
@import "home";

@import "log_in";
@import "sign_up";

@import "toastr";


.avatar-small {
  width: 28px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%
}

.bkpic{
  position: absolute;
  background-image: url('photo2.jpg');
  z-index:-5;
  left:0%;
  background-size:cover;
  min-width: 100%;
  min-height: 100%;

}
