
body {
background-color: rgba(0, 0, 0, 0.85);
}

.ec {
width: 100%;
height: 100%;
margin: 0 auto;
position: fixed;
top: 40px;
left: 0;
z-index: -1;
}

.ellipses-container {
width: 50rem;
height: 50rem;
border-radius: 50%;
margin: 0 auto;
position: relative;
top: 1.5rem;
z-index: -1;
}

.ellipses {
border-radius: 50%;
position: absolute;
top: 0;
border-style: solid;
-webkit-animation-name: spin;
-webkit-animation-duration: 4000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

}

.ellipses__outer--thin {
width: 100%;
height: 100%;
border-width: 1px;
border-color: rgba(0, 0, 0, 0);
z-index: -1;
-webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
animation: ellipsesOrbit 15s ease-in-out infinite;
-webkit-animation-name: spin;
-webkit-animation-duration: 10000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;

}

.ellipses__orbit {
width: 2.5rem;
height: 2.5rem;
border-width: 1px;
border-color: #D84800;
top: 5.7rem;
right: 6.75rem;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: rgba(0, 0, 0, 0.72) rgba(247, 247, 247, 0);
  border-width: 1px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
  animation: ellipsesRotate 15s ease-in-out infinite;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: reverse;

}

.ellipses__orbit:before {
content: '';
width: 0.4rem;
height: 0.4rem;
border-radius: 50%;
display: inline-block;
background-color: #090E0E;
margin: 0 auto;
left: 0;
right: 0;
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.ellipses__outer--thin:after {
content: "";
background-image: url(http://cdn.3oneseven.com/416/images/ellipses_dial.png);
background-repeat: no-repeat;
background-position: center;

top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
opacity: 0.15;
}

// 0% {
// -webkit-transform: rotate(-45deg);
// transform: rotate(-45deg);
// }
//
// 100% {
// -webkit-transform: rotate(-405deg);
// transform: rotate(-405deg);
// }

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
-ms-animation-delay: 1.4s;
-o-animation-delay: 1.4s;
animation-delay: 1.4s;
}

.animated {
-webkit-animation-duration: 1.1s;
animation-duration: 1.1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

a.axbtn {
font: 18px 'open_sanslight',arial,Roboto,verdana,tahoma,sans-serif;
color: #D84800;
letter-spacing: 1px;
text-transform: uppercase;
}

.masthead a {
color: inherit;
text-decoration: none;
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
transition: 0.2s;
}

.axbtn {
background: transparent;
border: 1px solid #D84800;
margin: 1.8em auto;
max-width: 100%;
padding: 1em .8em;
text-align: center;
width: 12em;
display: block;
transition: .08s ease-in;
-o-transition: .08s ease-in;
-ms-transition: .08s ease-in;
-moz-transition: .08s ease-in;
-webkit-transition: .08s ease-in;
position: relative;
}

.axbtn:hover {
background: #d84800;
border: 1px solid #ccc;
}

a.axbtn:hover {
color: #fff;
}

/*@media only screen and (max-width: 750px), (max-device-width: 750px) and (min-device-width: 750px)
.ec {
width: 60%;
height: 60%;
margin: 0 auto;
position: absolute;
top: 40px;
left: 0%;
}*/

/*nav bar*/
a {
color: #f85c37;
word-wrap: break-word;

-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
color: #7b7b7b;
text-decoration: none;
outline: 0;
}

a:before,
a:after {
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* MENU CONF*/

.menu {
position: fixed;
left: -200px;
width: 260px;
height: 100%;
top: 0;
z-index: 10;
text-align: left;
}

.menu.menu-open {
left: 0px;
}

.menu-wrap {
position: absolute;
top: 0;
right: 60px;
background: rgba(26, 26, 26,0.85);
width: 200px;
height: 100%;
}

.menu h1.logo a {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 800;
letter-spacing: 0.15em;
line-height: 40px;
text-transform: uppercase;
color: #ffffff;
margin-top: 20px;
}

.menu h1.logo a:hover {
color: #f85c37;
}

.menu img.logo {
margin: 20px 0;
max-width: 160px;
}

.menu a {
margin-left: 20px;
color: #808080;
display: block;
font-size: 12px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.menu a:hover {
color: #ffffff;
}

.menu a:active {
color: #ffffff;
}

.menu a > i {
float: left;
display: inline-block;
vertical-align: middle;
text-align: left;
width: 25px;
font-size: 14px;
line-height: 40px;
margin: 25px 2px;
}

.menu-close {
cursor: pointer;
display: block;
position: absolute;
font-size: 14px;
color: #808080;
width: 40px;
height: 40px;
line-height: 40px;
top: 20px;
right: 5px;
-webkit-transition: all .1s ease-in-out;
 -moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
 -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.menu-close:hover {
color: #ffffff;
-webkit-transition: all .1s ease-in-out;
 -moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
 -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
overflow-x: hidden;
position: relative;
left: 0;
}

.body-push-toright {
left: 200px;
}

.body-push-toleft {
left: -200px;
}

.menu,
.body-push {
-webkit-transition: all .3s ease;
 -moz-transition: all .3s ease;
-ms-transition: all .3s ease;
 -o-transition: all .3s ease;
  transition: all .3s ease;
}


@-ms-keyframes spin {
from { -ms-transform: rotate(0deg); }
to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
from {
    transform:rotate(0deg);
}
to {
    transform:rotate(360deg);
}
}

#menuToggle {
position: absolute;
top: 20px;
right: 0;
z-index: 11;
display: block;
text-align: center;
font-size: 14px;
color: #ffffff;
width: 40px;
height: 40px;
line-height: 40px;
cursor: pointer;
background: rgba(0,0,0,0.25);
-webkit-transition: all .1s ease-in-out;
 -moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
 -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

h1.title {
text-align: center;
    color: #D84800;
font-family: 'Black Ops One', cursive;
    font-size: 85px;
}


.front{
  z-index: 1;
}

.search {
    text-align: center;
}


input#submit_code {
    border: 1px solid #D84800;
    background: transparent;
    color: #DA510D;
}

input#submit_code:hover {
    background: #d84800;
    border: 1px solid #232323;
    color: #232323;
}

input#changeinputbox {
    border: 1px solid #D84800;
    background-color: transparent;
    -webkit-input-placeholder: white;
}

input[placeholder], [placeholder], *[placeholder] {
    color: #DA510D !important;
}

.img_preview{
  width:100%;
  height: 100%;
}

.logo_pic{
  background-image: url('logo4.png');
}
