<!-- <div class="cover-card col-md-1">
</div> -->

<!-- <div class="cover-card col-lg-10"> -->

  <!-- <div class="store_products"> -->



  <!-- </div> -->

<!-- </div> -->
<!--
<div class="cover-card col-md-1">
</div> -->

<div class="row">
  <div class="text-center">
    <h2>Just for the weekend</h2>
    <p>Discover new, inspiring people to trail.</p>
  </div>
</div>

<br>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag product.product_photos[0].image.url(:medium), class: "img-responsive" if product.product_photos.length >0 %>
        </div>
        <div class="panel-body">
          <%= link_to product.product_name, product %>
          <div class="pull-right">$<%= product.price %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
