<!-- <div class="cover-card col-md-1">
</div> -->

<!-- <div class="cover-card col-lg-10"> -->

  <!-- <div class="store_products"> -->
  <div class="section group">
    <% @product_photos.each do |x| %>
      <div class="col span_1_of_3">
        <%= image_tag x.image.url() %>
      </div>
    <%end%>
  </div>
  <!-- </div> -->

<!-- </div> -->
<!--
<div class="cover-card col-md-1">
</div> -->
